<%= render 'layouts/partials/defaulthero'%>
<div class="container">
  <article>

    <div class="row">
      <!--<h2>Blog Post title</h2>-->
      <div class=" show-page-author-image col-sm-2 col-sm-offset-5">
        <%=gravatar_image_tag(@blog.admin.email, class:'img-circle img-responsive', :alt => 'alex shyaka')%>
      </div>
      <div class=" author-text col-sm-3 col-sm-offset-5">
        <h4><%= @blog.admin.name%></h4>
        <p>Founder TheRailsShop.</p>
        <cite><strong>Wing it till you make it</strong></cite>
      </div>
    </div>

    <div class="row">
      <div class="blog">
            <div class="blog-title col-sm-12 col-md-8 col-md-offset-2">
              <h2><%= @blog.title%></h2>
            </div>
            <div class=" posted-date  col-md-8 col-xs-12 col-md-offset-2">
              <small>Posted <%= time_ago_in_words(@blog.created_at)%> ago</small>
            </div>

            <div class="post-body col-sm-8 col-sm-offset-2">
              <p><%= markdown(@blog.blog_content)%></p>
            </div>
            <div class="post-footer col-sm-8 col-sm-offset-2">
              <cite>Crafted by <%= @blog.admin.name%></cite>
              <hr>
            </div>
        <div class="row">
          <div class="back-tolist col-sm-2 col-sm-offset-2"><p><%= link_to 'Back to blog list', blogs_path %></p></div>
        </div>

      </div>

    </div>

  </article>

</div>

