<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <p id="notice"><%= notice %></p>
      <div class="posted-time">
        <p>
          <small>Posted <%= time_ago_in_words(@blog.created_at) %> Ago</small>
        </p>

      </div>
      <p>
        <strong>Author:</strong>
        <%= @blog.title %>
      </p>

      <p class="blog_content">
        <strong>Content:</strong>
        <%= @blog.blog_content %>
      </p>


      <%= link_to 'Edit', edit_blog_path(@blog) %> |
      <%= link_to 'Back', blogs_path %>

    </div>
  </div>
</div>