
<header class="theme-menu-wrapper full-width-menu">
        <div class="header-wrapper">
          <div class="clearfix">
            <!-- Logo -->
            <div class="float-left "><img src="/assets/logo/logo.png" alt="The Rails Shop" style="max-height: 50px; margin-top: -10px;"></div>

            <!-- ============================ Theme Menu ========================= -->
            <nav class="theme-main-menu float-right navbar" id="mega-menu-wrapper">
              <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                 </button>
               </div>
               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav">
                  <li class=" menu-list"><a href="/" class="tran3s" style="font-size: 15px;" >Home</a>

                  </li>
                  <li class=" menu-list"><a href="/static_pages/about" class="tran3s" style="font-size: 15px;" >About</a>

                  </li>
                  <li class=" menu-list"><a href="/static_pages/our_curriculum" class="tran3s" style="font-size: 15px;" >Our Curriculum</a>

                  </li>
                  <li class=" menu-list"><a href="/" class="tran3s" style="font-size: 15px;" >Events</a>

                  </li>

                  <li class="menu-list"><a href="/static_pages/resources" class="tran3s" style="font-size: 15px;" >Resources</a>

                  </li>
                  <li class="menu-list" style="font-size: 15px;" class="tran3s"><%= link_to "Contact Us", new_message_path %></li>
                  <li class="login-button" style="font-size: 15px;" ><%= link_to "Blog", blogs_path %></li>

                  <% if signed_in?%>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_admin.name%> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li><%= link_to "Sign Out", destroy_admin_session_path, method: :delete%></li>
                                  <li><%= link_to "Edit profile", edit_admin_registration_path%></li>
                                </ul>
                              </li>
                          <%else%>
                              <!--<li>  #link_to "Sign In", #new_admin_session_path %></li>-->
                              <!--<li> #link_to "Sign Up", #new_admin_registration_path %></li>-->
                          <%end%>


                </ul>
               </div><!-- /.navbar-collapse -->
            </nav> <!-- /.theme-main-menu -->
          </div> <!-- /.clearfix -->
        </div>
      </header> <!-- /.theme-menu-wrapper -->